.dataview-board {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 30px;
}

.dataview-board h3 {
    font-size: 20px;
}

.dataview-board h4 {
    font-size: 16px;
}

.dataview-board .records {
    width: 99%;
    padding: 0 0 10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
}

.dataview-board .records > .card {
    margin: 0 10px 10px 0;
}

.dataview-board .records.loading {
    background: #000 url([[pix:mod_dataview|loading]]) no-repeat center center;
    min-height: 100px;
    filter: opacity(0.1);
}

.dataview-board .filter-box {
    padding: 0 10px 10px 0;
    max-width: 300px;
}

.dataview-board .filter-box .card {
    margin-bottom: 10px;
}

.dataview-board .one-filter .filter-body {
    display: none;
    padding-bottom: 20px;
}

.dataview-board .one-filter.opened .filter-body {
    display: block;
}

.dataview-board .one-filter .filter-head {
    cursor: pointer;
    position: relative;
    padding-left: 15px;
}

.dataview-board .one-filter .filter-head:before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #7c8f8c;
}

.dataview-board .one-filter.opened .filter-head:before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #7c8f8c;
}

.dataview-board .search-box > div {
    display: flex;
}

.dataview-board .search-box > div input#fulltext-query {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dataview-board .search-box > div button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.dataview-board .search-box > div i {
    margin-right: 0;
}

.dataview-board .filter-body .option {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.dataview-board .filter-body .option:hover {
    background: var(--color-bg-third);
    color: var(--color-cont-third);
}

.dataview-board .filter-body .option label {
    width: 100%;
    padding: 5px 0;
}

.dataview-board .filter-body .option label:hover {
    cursor: pointer;
}

.dataview-board #sortby {
    margin-bottom: 10px;
}

.dataview-board .box-recordsperpage .card-body > div {
    font-size: 12px;
    line-height: 14px;
}
