{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_dataview/main

    This template renders the template content area for a resource.

    Example context (json):
    {}
}}

<div class="dataview-board">
    <div class="filter-box">
        <div class="card">
            <h3 class="card-header">{{#str}}singlesearch, mod_dataview{{/str}}</h3>
            <div class="card-body search-box">
                <h4><label for="fulltext-query">{{#str}}fulltext, mod_dataview{{/str}}</label></h4>
                <div>
                    <input id="fulltext-query" class="form-control" type="text" name="q" value="" />
                    <button class="search-btn btn btn-primary">{{#pix}}i/search, core{{/pix}}</button>
                </div>
            </div>
        </div>

        <div class="card">
            <h3 class="card-header">{{#str}}advancesearch, mod_dataview{{/str}}</h3>
            <div class="card-body">
            {{#fields}}
                <div class="one-filter type-{{type}}">
                    <h4 class="filter-head">{{description}}</h4>
                    <div class="filter-body">
                        {{{control}}}
                    </div>
                </div>
            {{/fields}}
            </div>
            <button class="filter-btn btn btn-primary">{{#str}}filter, mod_dataview{{/str}} {{#pix}}i/search, core{{/pix}}</button>
        </div>
        {{#cansort}}
        <div class="card">
            <h3 class="card-header">{{#str}}sortby, mod_dataview{{/str}}</h3>
            <div class="card-body">
                <div class="sortby">
                    <select id="sortby" class="form-control">
                        {{#fields}}
                            <option value="{{id}}">{{description}}</option>
                        {{/fields}}
                    </select>
                    <select id="sortdirection" class="form-control">
                        <option value="asc">{{#str}}asc{{/str}}</option>
                        <option value="desc">{{#str}}desc{{/str}}</option>
                    </select>
                </div>
            </div>
        </div>
        {{/cansort}}
        <div class="card box-recordsperpage">
            <h3 class="card-header">{{#str}}recordsperpage, mod_dataview{{/str}}</h3>
            <div class="card-body">
                <select id="recordsperpage" class="form-control">
                    {{#recordsbypage}}
                        <option value="{{.}}">{{.}}</option>
                    {{/recordsbypage}}
                </select>
                <br>
                <div>
                    {{#pix}} i/warning {{/pix}} {{#str}}recordsperpageinfo, mod_dataview{{/str}}
                </div>
            </div>
        </div>
    </div>
    <div class="records"></div>
</div>

<template id="dataview-tpl-itemlist">
    {{{listtemplate}}}
</template>

<template id="dataview-tpl-itemsingle">
    {{{singletemplate}}}
</template>

<template id="dataview-tpl-createmessage">
    <div>
        {{#str}}createmessage, mod_dataview{{/str}}
    </div>
</template>
